# Model Building

In [1]:
import pandas as pd

In [2]:
penguins = pd.read_csv('penguins_cleaned.csv')
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,Adelie,Torgersen,39.3,20.6,190,3650,male

In [3]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            333 non-null    object
 1   island             333 non-null    object
 2   bill_length_mm     333 non-null    float64
 3   bill_depth_mm      333 non-null    float64
 4   flipper_length_mm  333 non-null    int64
 5   body_mass_g        333 non-null    int64
 6   sex                333 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 18.3+ KB

In [4]:
df=penguins.copy()
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,Adelie,Torgersen,39.3,20.6,190,3650,male

In [6]:
target=df.columns[0]
encode= ['sex','island']

In [8]:
pd.get_dummies(df['sex'],prefix='sex').head()

   sex_female  sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [9]:
for col in encode:
    dummy = pd.get_dummies(df[col],prefix=col)
    df = pd.concat([df,dummy],axis=1)
    del df[col]

In [10]:
df.species.unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [11]:
target_mapper = {'Adelie':0,'Chinstrap':1,'Gentoo':2}
def target_encode(val):
    return target_mapper[val]

df['species']=df['species'].apply(target_encode)

In [12]:
df['species'].head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

Seperating X and y

In [13]:
X = df.drop('species',axis=1)
Y = df['species']

Build random forest model

In [14]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X, Y)

RandomForestClassifier()

In [ ]:
# Saving the model
import pickle
pickle.dump(clf, open('penguins_clf.pkl', 'wb'))